[defaults]
stdout_callback = debug
stderr_callback = debug
host_key_checking = false

enable_plugins = aws_ec2
inventory = ./inventory.aws_ec2.yml

remote_user = ec2-user
private_key_file = ~/.ssh/id_rsa

